[Unit]
Description=rollback %I

[Service]
Type=simple
Restart=always
RestartSec=3
WorkingDirectory=/opt/systemd-rollback/
EnvironmentFile=/opt/systemd-rollback/rollback@%i
ExecStart=/bin/bash -c -l '/opt/systemd-rollback/${APPS}'

# Security reason not yet RND

SystemCallArchitectures=native
LockPersonality=yes
NoNewPrivileges=yes
PrivateTmp=yes
MemoryDenyWriteExecute=yes
PrivateNetwork=yes
CapabilityBoundingSet=CAP_SYS_PTRACE 
PrivateDevices=yes
PrivateUsers=yes
ProtectControlGroups=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictNamespaces=yes
RestrictRealtime=yes
SystemCallFilter=~@privileged @resources
SystemCallFilter=@system-service

[Install]
WantedBy=multi-user.target