[Unit]
Description=systemd-rollback
Requires=network.target


[Service]
Type=simple
ExecStart=/usr/local/bin/systemd-rollback
ExecReload=/bin/kill -SIGINT $MAINPID
Restart=always

# Security reason not yet RND

SystemCallArchitectures=native
LockPersonality=yes
PrivateTmp=yes
MemoryDenyWriteExecute=yes
CapabilityBoundingSet=CAP_SYS_PTRACE 
PrivateDevices=yes
PrivateUsers=yes
ProtectControlGroups=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictNamespaces=yes
RestrictRealtime=yes
SystemCallFilter=~@privileged @resources
SystemCallFilter=@system-service


[Install]
WantedBy=multi-user.target